.dropdown>ul {
    top: 70px;
    width: 100%;
    overflow: scroll;
    height: 300px;
}

#invisible-label-ul {
    top: 38px;
}

.dropdown>button {
    text-align: left;
}

.dropdown>button::after {
    position: absolute;
    right: 15px;
    top: 50px;
    color: #007bff;
}

#invisible-label-button-after::after {
    top: 18px;
}

.dropdown>button:hover::after {
    color: #ffffff;
}

.dropdown>button:focus::after {
    color: #ffffff;
}

.dropdown>button {
    background-color: #fff;
    color: #007bff;
}

#ul-dropdown-menu-color li {
    cursor: pointer;
}