.App {
  /*text-align: center;*/
}

.App .main {
  width: 100%;
  float: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-open {
  transform: rotate(90deg);
}

.card>i {
  background-image: url("assets/angle-right-solid.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  top: 10px;
  left: 5px;
  position: absolute;
  transition: all 0.5s;
}

#card-detail-cars {
  transition: all 0.4s;
  border-radius: 15px;
}

#card-detail-cars:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 10px;
}